@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* CSS Variables
   https://www.w3schools.com/css/css3_variables.asp
*/

* {
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #efeeee;
}
/*------------------------------ Navigation --------------------------- */
nav {
    position: fixed;
    display: block;
    justify-content: center;
    z-index: 1;
    width: 70%;
    margin-left: 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color:    #e5e4e4;;

}

li {
    float: left;
    background-color: #e5e4e4;
}

li a{
    display: block;
    color: #A6A6A6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #e5e4e4;
}

li a:hover {
    color: #404040;
    transition: 0.3s;
}

.active {
    color: #404040;

}

.active:hover {
    color:  black;
    transition: 0.3s;
}

/*------------------------------ Main ------------------------------ */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 40px;

}

main {
    width: 70%;
    margin-left: 15%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1f1f1f;
    text-underline: none;
}
.big {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
}
.button_down{
    text-underline: none;
}

.button_downp{
    font-size: 30px;
    color: black;
    text-align: center;
    text-underline: none;

}

p .button_entry{
    text-underline: none;
}

#formular{
    text-underline: none;
    text-align: center;

}

.entry{
    width: 5%;
    margin-left: 47.5%;
    background-color: #e5e4e4;
    color:#A6A6A6 ;
}
.entry:hover{
    color: #404040;
    transition: 0.3s;
}

img{
    width: 600px;
    height: auto;
    float: left;
    margin-right: 50px;
}


.imgtext{
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
}
/*------------------------------ footer------------------------------ */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    position: fixed;
}

footer p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #A6A6A6;
    display: flex;
    text-align: center;
    justify-content: center;
}
