@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* CSS Variables
   https://www.w3schools.com/css/css3_variables.asp
*/
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #efeeee;
  font-family: 'Open Sans', sans-serif;


  min-height: 100vh;
  margin: 0;
}
/* -------- */
nav {
  position: fixed;
  display: block;
  justify-content: center;
  z-index: 1;
  width: 70%;
  margin-left: 15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background-color:    #e5e4e4;;

}

li {
  float: left;
  background-color: #e5e4e4;
}

li a{
  display: block;
  color: #A6A6A6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #e5e4e4;
}

li a:hover {
  color: #404040;
  transition: 0.3s;
}

.active {
  color: #404040;

}

.active:hover {
  color:  black;
  transition: 0.3s;
}


/*------*/
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 30%;
  margin-left: 35%;



}

h2, h3 {
  text-align: center;
  margin: 0 0 30px;
}

.form {
  padding: 30px 40px;

}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* Aufgabe: textarea im form-control designen
*/
/*--Begin */
.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
/*--End */

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  visibility: hidden;
  font-size: .75rem;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
